*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
.spinner
{
    height: 140px;
    width: 140px;
    border: 5px solid #ccc;
    border-radius: 50%;
    border-top: 5px solid black;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}